div#drop-area
                    form.my-form
                        p Upload file with the file dialog button below
                        input(type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)")
                        label(for="fileElem" class="button") SelectFile:
