doctype html
html
  head
      block head
        title="Sink Overflow"
        link(rel="shortcut icon" type="image/jpg" href="../favicon1.ico")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap")
        link(rel='stylesheet' href='/stylesheets/reset.css')

  body
    block content
