extends layout.pug
include utils.pug

append head
  script(src="/javascripts/demo.js" type="module" async defer)
  link(rel="stylesheet" href="/stylesheets/login.css")
block content
  div.form-container
        img.logo(src="/ternary-logo.png", alt="logo")
        div.form-container__elements
        +validationErrorSummary(errors)
        form(action='/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('email', email, 'Email', 'email')
            +field('password', null, 'Password', 'password')
            div.form-container-elements__actions-container
                button.form-container-elements__button(type='submit') Login
                button.form-container-elements__button#button() Demo Login
                a.form-container-elements__cancel(href='/') Cancel
        div
         p: a(href='/register') Don't have an account
