h1 {
    color: #555555;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
}
body {
    background-color: #ecf5ff;
}

.top-bar {
    background-color: #dfe7f0;
    height: 20px;
    margin-top: 20px;
}

.questions-block {
    background-color: #dfe7f0;
    margin: 50px 120px;
    display: flex;
    border-radius: 10px;
    transition: background-color 600ms ease;
}

.questions-block__content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.questions-block__user-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    margin-bottom: 20px;
}

.question-block__votes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.questions-block__answers {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.question-block__content__title {
    font-weight: bold;
    font-size: 16pt;
    color: #0099ff;
}

.question-block__content__question {
    font-size: 11pt;
    color: #595959;
}

.questions-block__answers__count {
    color: #f09d37;
    font-size: 36px;
}

.question-block__votes__vote-count {
    color: #ffffff;
    font-size: 36px;
}

.up-arrow {
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-color: white transparent transparent white;
    transform: rotate(45deg);
}

.down-arrow {
    width: 20px;
    height: 20px;
    border: 4px solid;
    border-color: white transparent transparent white;
    transform: rotate(-135deg);
}

a {
    text-decoration: none;
}

a:hover .questions-block {
    background-color: #adc6e2;
}
.main {
    padding-top: 6rem;
    margin-left: 6rem;
    padding-left: 1rem;

    /* padding: 1rem; */
}
