.navbar {
    width: 5rem;
    height: 80vh;
    position: fixed;
    background-color: #cfd3d3f5;
    transition: width 200ms ease;
    border-radius: 10px;
    margin-top: 0rem;
    margin-bottom: 5rem;
    text-align: left;
    margin-left: 0.25rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.nav-link {
    display: flex;
    text-decoration: none;
    text-align: left;
    align-items: center;
    height: 5rem;
}

.link-text {
    display: none;
    margin: 0 2rem 0 1rem;
    text-align: left;
    color: #0099ff;
    transition: color 500ms;
}

.primary {
    fill: #0099ff;
    transition: 400ms;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
    margin-right: 5rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-item:hover .primary {
    fill: #f09d37;
}

.nav-item:hover .link-text {
    color: #f09d37;
}
