.main {
    padding-top: 6rem;
    margin-left: 6rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    /* padding: 1rem; */
}

li {
    list-style: none;
}

ul li {
    padding: 5px;
}

.questions-block {
    margin: 25px 175px;
    display: flex;
    border-radius: 4px;
    transition: background-color 600ms ease;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.comment-block__comment__content {
    color: #fff;
}

.comment-block {
    background-color: #44d9e6c4;
    margin: 25px 175px 25px 200px;
    padding: 30px;
    display: flex;
    border-radius: 4px;
    transition: background-color 600ms ease;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.add-answer {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;

    background-color: #dfe7f096;

    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    margin-left: 175px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.add-comment {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;

    background-color: #44d9e6c4;
    color: #fff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    margin-left: 200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.add-comment-no {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: #9dd6fc;
    color: #fff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    margin-left: 175px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.answer-actions {
    display: flex;
    justify-content: space-between;
}

.actions-actions {
    display: flex;
    flex-direction: row;
    margin-right: 175px;
}

.answer-actions-actions {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 175px;
}

.answer-actions-actions-no {
    display: flex;
    flex-direction: row;
    margin-right: 175px;
}
.edit-question {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;
    margin-right: 0.5rem;

    background-color: #dfe7f096;

    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.edit-answer {
    padding: 10px 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 4px;
    border: none;
    margin-right: 0.5rem;

    background-color: #9dd6fc;
    color: #fff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.add-answer:hover {
    background-color: #dfe7f0;
}

.add-comment:hover {
    background-color: #44d9e6;
}

.add-comment-no:hover {
    background-color: #44d9e6;
}
.edit-question:hover {
    background-color: #dfe7f0;
}

.edit-answer:hover {
    background-color: #02b8f2;
}

.delete-question:hover {
    background-color: #dfe7f0;
}

.delete-answer:hover {
    background-color: #02b8f2;
}

.delete-question {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;
    font-size: 102%;
    background-color: #dfe7f096;

    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.delete-answer {
    padding: 10px 30px;

    border-radius: 4px;
    border: none;
    font-size: 102%;
    background-color: #9dd6fc;
    color: #fff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.answer-block {
    background-color: #02b6f2bb;
    color: white;
    margin: 25px 175px;
    display: flex;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 4px;
    transition: background-color 600ms ease;
}

.answer-block__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.questions-block__user-info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    margin-bottom: 20px;
}

.answer-block__user-info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    margin-bottom: 20px;
}

.question-block__votes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 2rem;
    /* margin-bottom: 15px; */
}

.answer-block__votes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 15px; */
    padding-left: 1rem;
}

.questions-block__answers {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.question-block__content__title {
    font-weight: bold;
    font-size: 16pt;
    color: #0099ff;
}

.question-block__content__question {
    font-size: 11pt;
    color: #595959;
}

.questions-block__answers__count {
    color: #f09d37;
    font-size: 36px;
}

.question-block__votes__vote-count {
    color: #ffffff;
    font-size: 36px;
}

.answer-block__votes__count {
    color: #ffffff;
    font-size: 36px;
}

.up-arrow {
    width: 30px;
    height: 30px;
}

.primaryp {
    fill: #295f83;
}

.voted .primaryp {
    fill: #0099ff;
}

.down-arrow {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.up-arrow-answer {
    width: 30px;
    height: 30px;
}

.down-arrow-answer {
    width: 30px;
    height: 30px;
    transform: rotate(-180deg);
}

.primaryp-answer {
    fill: #ffffff;
}

.voted-answer .primaryp-answer {
    fill: #000;
}

.question-block__votes__vote-count {
    color: #0099ff;
}

.voted-answer {
    border-color: #44d9e6 transparent transparent #44d9e6;
}

.voted {
    border-color: #0099ff transparent transparent #0099ff;
}

.imageScr1{
    max-width: 70px;
    margin-top: 5px;
}