body {
    background-color: #ecf5ff;
}

.logo-container {
    padding: 10px;
    padding: 8rem 0;

    /* background-image: url(../Logo-02.svg); */
    /* size: 100%; */
}

.logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    size: 100%;
    width: 180px;
    height: 40px;
}
.form-container {
    background-color: #dfe7f0c2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin: 150px auto;
    border-radius: 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 10px;
}

.form-container__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.form-container-elements__button {
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    width: 95%;
    background-color: #9dd6fc;
    color: #ecf5ff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.form-container-elements__button:hover {
    background-color: #02b8f2;
}

.form-container-elements__cancel {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    color: #ff7d7d;
}

.form-container__header {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #0099ff;
}

.form-container__error-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ff7d7d;
    color: #ff0000;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    /* margin: 10px auto; */
    /* padding: 5px; */
}

.form-container-elements__actions-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    /* text-align: center; */
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

p a {
    color: #0099ff;
}
