body {
    padding: 50px;
    font: 14px "Montserrat", sans-serif;
    background-color: #ecf5ff;
}

a {
    color: #00b7ff;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

input,
button {
    font: 14px "Montserrat", "Montserrat", "Montserrat", "Montserrat";
}
